PORT=3000
SECRET=
SALT_ROUNDS=
CARS_DB_NAME=cars
USERS_DB_NAME=users

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=mydb
POSTGRES_HOST=
POSTGRES_PORT=5432
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=5050
PORT=3000